<div class="scrobble-form">
  <textarea
    nz-input
    nzAutosize
    data-testid="scrobble-input"
    [formControl]="scrobbleForm"
    rows="20"
    placeholder="Example:
    Pink Floyd - Time - The Dark Side of the Moon
    Radiohead - Paranoid Android - Ok Computer
    Porcupine Tree - Trains"
  ></textarea>

  <button
    nz-button
    nzType="primary"
    (click)="scrobble()"
    [disabled]="scrobbleForm.invalid"
    data-testid="submit"
  >
    <i nz-icon nzType="subnode"></i>
    Scrobble
  </button>
</div>
